/* Waybar style.css */

@define-color autumnGreen #76946A;
@define-color autumnRed #C34043;
@define-color autumnYellow #DCA561;
@define-color carpYellow #E6C384;
@define-color crystalBlue #7E9CD8;
@define-color dragonBlue #658594;
@define-color fujiWhite #DCD7BA;
@define-color lightBlue #A3D4D5;
@define-color oniViolet #957FB8;
@define-color peachRed #FF5D62;
@define-color roninYellow #FF9E3B;
@define-color sakuraPink #D27E99;
@define-color springBlue #7FB4CA;
@define-color springGreen #98BB6C;
@define-color springViolet1 #938AA9;
@define-color sumiInk1 #1F1F28;
@define-color sumiInk3 #393552;
@define-color surimiOrange #FFA066;
@define-color waveBlue1 #223249;
@define-color waveBlue2 #2D4F67;

* {
    font-family: Symbols Nerd Font Mono, JetBrainsMono Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: @sumiInk1;
    color: @fujiWhite;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

window#waybar.kitty {
    background-color: @surimiOrange;
}
*/
button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @fujiWhite;
}

#workspaces button {
    padding: 0 8px;
    background-color: @sumiInk3;
    border: none;
	border-radius: 25%;
    color: @sumiInk1;
	box-shadow: inset 0 -3px transparent;
    margin: 4px;
}

#workspaces button:hover {
    background: @sumiInk3;
    color: @crystalBlue;
}

#workspaces button.focused {
    background-color: @crystalBlue;
    color: @sumiInk3;
}

#workspaces button.active {
    background-color: @crystalBlue;
    color: @sumiInk3;
}

#workspaces button.urgent {
    background-color: @autumnRed;
}

#mode {
    background-color: transparent;
    color: @surimiOrange;
}

#submap {
    background-color: transparent;
}

#submap.resize {
    color: @surimiOrange;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#submap,
#network,
#custom-notification,
#custom-menu,
#pulseaudio,
#scratchpad,
#tray,
#wireplumber,
#mpd {
    padding: 0 10px;
    color: @fujiWhite;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @sumiInk3;
    background: @oniViolet;
	padding: 0 10px;
	margin: 6px 2px;
	border-radius: 50px;
}

#battery {
    color: @springGreen;
    background: @sumiInk3;
	margin: 6px 2px;
	border-radius: 50px;
}

@keyframes charging {
    to {
        background: @springGreen;
        color: @sumiInk1;
    }
}

#battery.charging, #battery.plugged {
    color: @springGreen;
	background: @sumiInk3;
    animation-name: charging;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical {
    color: @fujiWhite;
	background: @autumnRed;
}

@keyframes alert {
    to {
        background-color: @fujiWhite;
        color: @sumiInk3;
    }
}

#battery.critical:not(.charging) {
    background-color: @autumnRed;
    color: @fujiWhite;
    animation-name: alert;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @sumiInk3;
}

#cpu {
    color: @sumiInk3;
    background: @autumnGreen;
	margin: 6px 2px;
	border-radius: 50px;
}

#memory {
    color: @sumiInk3;
    background-color: @oniViolet;
	margin: 6px 2px;
	border-radius: 50px;
}

#custom-notification {
    background: @lightBlue;
    color: @sumiInk1;
	border-radius: 50px;
	margin: 6px 2px;
}

#custom-menu {
    font-size: 25px;
    background: transparent;
    color: #0B57A4;
	margin: 6px 0 6px 12px;
    padding: 0;
}

#custom-notification.notification {
    color: @autumnRed;
}

custom-notification.dnd-notification {
    color: @autumnRed;
}

custom-notification.inhibited-notification {
    color: @autumnRed;
}

#disk {
    background-color: @dragonBlue;
	border-radius: 50px;
}

#backlight {
    color: @sumiInk3;
    background-color: @carpYellow;
	margin: 6px 2px;
	border-radius: 50px;
}

#network {
    color: @springBlue;
    background: @sumiInk3;
	margin: 6px 2px;
	border-radius: 50px;
}

#network.disconnected {
    color: @autumnRed;
}

#pulseaudio {
    color: @sakuraPink;
    background: @sumiInk3;
	margin: 6px 2px;
	border-radius: 50px;
}

#pulseaudio.muted {
    color: @autumnRed;
}

#wireplumber {
    color: @sumiInk3;
    background-color: @autumnYellow;
	border-radius: 50px;
}

#wireplumber.muted {
    background-color: @autumRed;
}

#custom-media {
    background-color: @autumnGreen;
    color: @sumiInk3;
    min-width: 100px;
	border-radius: 50px;
}

#custom-media.custom-spotify {
    background-color: @autumnGreen;
}

#custom-media.custom-vlc {
    background-color: @roninYellow;
}

#temperature {
    color: @roninYellow;
    background-color: @springBlue;
	border-radius: 50px;
}

#temperature.critical {
    background-color: @autumnRed;
	border-radius: 50px;
}

#tray {
    background-color: @sumiInk3;
    border-radius: 50px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @autumnRed;
}

#bluetooth {
    color: @fujiWhite;
    background-color: @waveBlue1;
	margin: 6px 2px;
	border-radius: 50px;
}

#idle_inhibitor {
    background-color: @sumiInk3;
	margin: 6px 2px;
	border-radius: 50px;
}

#idle_inhibitor.activated {
    background-color: @fujiWhite;
    color: @sumiInk3;
}

#mpd {
    background-color: @autumnGreen;
    color: @sumiInk3;
	border-radius: 50px;
}

#mpd.disconnected {
    color: @autumnRed;
}

#mpd.stopped {
    background-color: @roninYellow;
}

#mpd.paused {
    background-color: @peachRed;
}

#language {
    background: @springViolet1;
    color: @sumiInk3;
    padding: 0 5px;
	margin: 6px 2px;
    min-width: 16px;
	border-radius: 50px;
}

#keyboard-state {
    background: @waveBlue2;
    color: @sumiInk3;
    padding: 0;
	margin: 6px 2px;
    min-width: 16px;
}

#keyboard-state > label {
    color: @peachRed;
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: @sumiInk3;
}

#scratchpad {
    background: @sumiInk3;
	margin: 6px 2px;
	border-radius: 50px;
}

#scratchpad.empty {
	background-color: transparent;
}
