@define-color autumnGreen #76946A;
@define-color autumnRed #C34043;
@define-color autumnYellow #DCA561;
@define-color carpYellow #E6C384;
@define-color crystalBlue #7E9CD8;
@define-color dragonBlue #658594;
@define-color fujiWhite #DCD7BA;
@define-color lightBlue #A3D4D5;
@define-color oniViolet #957FB8;
@define-color peachRed #FF5D62;
@define-color roninYellow #FF9E3B;
@define-color sakuraPink #D27E99;
@define-color springBlue #7FB4CA;
@define-color springGreen #98BB6C;
@define-color springViolet1 #938AA9;
@define-color sumiInk1 #1F1F28;
@define-color sumiInk3 #393552;
@define-color surimiOrange #FFA066;
@define-color waveBlue1 #223249;
@define-color waveBlue2 #2D4F67;

* {
    border: none;
    font-family: Symbols Nerd Font Mono, JetBrainsMono Nerd Font;
    font-size: 14px;
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#mode {
    background: transparent;
    color: @surimiOrange;
    margin-left: 6px;
}

#submap {
    background: transparent;
    margin-left: 10px;
}

#submap.resize {
    color: @surimiOrange;
}

#workspaces {
    background: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    background: @sumiInk1;
    color: @fujiWhite;
    padding: 0 8px;
    margin: 6px 4px;
	border-radius: 50px;
}

window#waybar {
    color: @fujiWhite;
    background: @sumiInk1;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window{
    background: transparent;
}

#workspaces button {
    padding: 0 8px;
    background: @sumiInk3;
    border: none;
	border-radius: 25%;
    color: @sumiInk1;
    margin: 4px;
    transition-property: background;
    transition-duration: .5s;
}

#workspaces button:hover {
    background: @sumiInk3;
    padding: 0 6px;
    border: 2px solid @crystalBlue;
    color: @crystalBlue;
    transition-property: border-color;
    transition-duration: .5s;
}

#workspaces button.focused {
    background: @crystalBlue;
    color: @sumiInk3;
}

#workspaces button.active {
    background: @crystalBlue;
    color: @sumiInk3;
}

#workspaces button.urgent {
    background: @autumnRed;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-menu,
#custom-media,
#custom-notification,
#custom-weather,
#disk,
#idle_inhibitor,
#language,
#keyboard-state,
#memory,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
	border-radius: 50px;
	padding: 0 8px;
	margin: 6px 2px;
}

#backlight {
    background: @carpYellow;
    color: @sumiInk3;
}

#battery {
    background: @sumiInk3;
    border: 2px solid @springGreen;
    color: @springGreen;
}

@keyframes charging {
    to {
        background: @springGreen;
        border-color: @sumiInk1;
        color: @sumiInk1;
    }
}

#battery.charging, #battery.plugged {
    animation-direction: alternate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: charging;
    animation-timing-function: linear;
	background: @sumiInk3;
    color: @springGreen;
}

#battery.critical {
	background: @autumnRed;
    border-color: @fujiWhite;
    color: @fujiWhite;
}

@keyframes alert {
    to {
        background: @fujiWhite;
        border-color: @autumnRed;
        color: @autumnRed;
    }
}

#battery.critical:not(.charging) {
    animation-direction: alternate;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: alert;
    animation-timing-function: linear;
    background: @autumnRed;
    border-color: @fujiWhite;
    color: @fujiWhite;
}

#bluetooth {
    background: @waveBlue1;
    color: @fujiWhite;
}

#bluetooth.off {
    background: @sumiInk3;
    color: @fujiWhite;
}

#clock {
    background: @oniViolet;
    color: @sumiInk3;
}

#cpu {
    background: @autumnGreen;
    color: @sumiInk3;
}

#custom-media {
    background: @sumiInk3;
    color: @fujiWhite;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background: @autumnGreen;
}

#custom-media.custom-vlc {
    background: @roninYellow;
}

#custom-menu {
    background: transparent;
    color: #0B57A4;
    font-size: 25px;
    padding: 0;
}

/* If menu is the leftmost module, adjust right margin */
.modules-left > widget:first-child > #custom-menu {
    margin-left: 10px;
}

/* If menu is the rightmost module, adjust left margin */
.modules-right > widget:last-child > #custom-menu {
    margin-right: 10px;
}

#custom-notification {
    background: @lightBlue;
    color: @sumiInk1;
}

#custom-notification.notification {
    color: @autumnRed;
}

custom-notification.dnd-notification {
    color: @autumnRed;
}

custom-notification.inhibited-notification {
    color: @autumnRed;
}

#custom-weather {
    background: @sumiInk1;
    border: 2px solid @surimiOrange;
    color: @surimiOrange;
}

#disk {
    background: @dragonBlue;
    color: @fujiWhite;
}

#idle_inhibitor {
    background: @sumiInk3;
}

#idle_inhibitor.activated {
    background: @fujiWhite;
    color: @sumiInk3;
}

#keyboard-state {
    background: @waveBlue2;
    color: @sumiInk3;
    min-width: 16px;
}

#keyboard-state > label {
    color: @peachRed;
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: @sumiInk3;
}

#language {
    background: @springViolet1;
    color: @sumiInk3;
    min-width: 16px;
}

#memory {
    background: @oniViolet;
    color: @sumiInk3;
}

#mpd {
    background: @autumnGreen;
    color: @sumiInk3;
}

#mpd.disconnected {
    color: @autumnRed;
}

#mpd.stopped {
    background: @roninYellow;
}

#mpd.paused {
    background: @peachRed;
}

#network {
    background: @sumiInk3;
    border: 2px solid @springBlue;
    color: @springBlue;
}

#network.disconnected {
    color: @autumnRed;
    border-color: @autumnRed;
}

#pulseaudio {
    background: @sumiInk3;
    border: 2px solid @sakuraPink;
    color: @sakuraPink;
}

#pulseaudio.muted {
    color: @autumnRed;
    border-color: @autumnRed;
}

#scratchpad {
    background: @sumiInk3;
}

#scratchpad.empty {
	background: transparent;
}

#temperature {
    background: @sumiInk3;
    color: @roninYellow;
}

#temperature.critical {
    background: @autumnRed;
    color: @fujiWhite;
}

#tray {
    background: @sumiInk3;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: @autumnRed;
}

#wireplumber {
    background: @sumiInk3;
    border: 2px solid @sakuraPink;
    color: @sakuraPink;
}

#wireplumber.muted {
    background: @autumRed;
    border-color: @autumnRed;
}
