Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
XTerm*loginshell: true

! ## Add colour support
XTerm.termName: xterm-256color

! ## Font
XTerm*renderFont: True
XTerm*faceName: xft:JetBrains Mono:size=12

XTerm*faceSize: 12
XTerm*utf8: 2
XTerm*locale: true

! VT Font Menu: Unreadable
XTerm*faceSize1: 8

! VT Font Menu: Tiny
XTerm*faceSize2: 10

! VT Font Menu: Small
XTerm*faceSize3: 12

! VT Font Menu: Medium
XTerm*faceSize4: 16

! VT Font Menu: Large
XTerm*faceSize5: 22

! VT Font Menu: Huge
XTerm*faceSize6: 24

! Scrollbar
XTerm*vt100.scrollBar: false

! No scroll in input
XTerm*scrollTtyOutput: false

! Lines of output scrollback
XTerm*saveLines: 10000

! Enable copy/paste
XTerm*selectToClipboard: true

! Select text
XTerm*highlightSelection: true

! Remove trailing spaces
XTerm*trimSelection: true

! Fix backspace kill word
XTerm*.backarrowKey: false

! KeyBindings
XTerm.vt100.Translations: #override \n\
	Ctrl <Key>-: smaller-vt-font() \n\
	Ctrl <Key>=: larger-vt-font() \n\
	Ctrl <Key>0: set-vt-font(d) \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! Colour themes
XTerm*title: XTerminal
XTerm*background: #1e2127
XTerm*foreground: #abb2bf

! top is bright, below is normal
! black
*.color0:       #1e2127
*.color8:       #5c6370

! red
*.color1:       #e06c75
*.color9:       #e06c75

! green
*.color2:       #98c379
*.color10:      #98c379

! yellow
*.color3:       #d19a66
*.color11:      #d19a66

! blue
*.color4:       #61afef
*.color12:      #61afef

! magenta
*.color5:       #c678dd
*.color13:      #c678dd

! cyan
*.color6:       #56b6c2
*.color14:      #56b6c2

! white
*.color7:      #828791
*.color15:     #e6efff

! SXIV configs
Sxiv.foreground:	#bbc2cf
Sxiv.background:	#222222
Sxiv.font:	Ubuntu:style=bold:size=11
